/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
*{
	box-sizing:border-box;
	padding:0;
	margin:0;
	max-width:100%; 
	border:1px solid grey;
	/* text-align: center; */

  }

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
	font-family: 'Titillium Web', sans-serif;
	
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
	margin-bottom: 15px;
	color: red;
}

/* Your code starts here! */
.logo{
	display: inline-block;
}
.intro-phrase{
	text-align: right;
}
.cta {
	text-align: right;
}
.top {
	display: inline-block;
	width: 100%;
	color: gray;
	text-align: center;
}
h3 {
	text-align: left; 
}
.head-img {
	padding: 0% 0% 0% 75%;
}
.top-core {
	display: inline-block;
	width: 90%;
	height: 15%;
	text-align: center;
}
.middle-img {
	padding: 0% 0% 0% 32%;
}
.bottom-core {
	display: inline-block;
	width: 90%;
	height: 15%;
	text-align: center;
	
}

.features {
	display: inline-block;
	width:30%;
	height:90%
	
}
.about {
	display: inline-block;
	width:30%;
	height:90%;
	
	
}
.services {
	display: inline-block;
	width:30%;
	height:90%;
	
}
.product {
	display: inline-block;
	width:30%;
	height:90%;
	
}
.vision {
	display: inline-block;
	width:30%;
	height:90%;
	
}
.middle-img {
	display: inline-block;
	width: 60%;
}
.foot {
	text-align: left;
	padding: 15%;
		
}
